{%extends "TahrirBlogBundle:Default:index.html.twig"%}
{%block container %}
<div class="container" >
    <form id="form" class="well" method="POST" enctype="multipart/form-data" action="{{path('tahrir_blog_newpost')}}" data-validate="parsley">
		{% if message is defined%}
		<div class="alert-info fade in">
			<strong>{{message}}</strong>
		</div>
		{%endif%}        
		<h2>Add New Post</h2>
        <label>Post Title</label>
        <input type="text" id="title" name="title" class="input-xlarge" data-trigger="change" data-required="true">
		</br>
		</br>
        <label>Content</label>
        <textarea name="content" class="input-xlarge" data-trigger="change" data-required="true"></textarea>
		</br>
		</br>
	    <label>Image</label>
        <input name="image" type="file" class="input-xlarge" data-trigger="change" data-required="true">
		</br>
		</br>
		<label>Tags</label>
        <input type="text" id="tags" name="tags" class="input-xlarge" data-trigger="change" data-required="true">(sperate them by ',')
        </br>
        </br>
		<div>
			<a class="btn btn-primary" href='{{path('tahrir_blog_homepage')}}' >Home</a>
            <button class="btn btn-primary pull-right" type="submit" >Create Post</button>
        </div>

    </form>
</div>
 {%endblock%}