{%extends "TahrirBlogBundle:Default:index.html.twig"%}
{%block container %}
<div class="container" >
   
    <form id="form" class="well" method="POST" action="{{path('tahrir_blog_signup')}}" data-validate="parsley">
		{% if message is defined%}
		<div class="alert-info fade in">
			<strong>{{message}}</strong>
		</div>
		{%endif%}
		<h2>Sign Up</h2>
        <label>Username</label>
        <input type="text" id="username" name="username" class="input-xlarge" data-trigger="change" data-required="true">
       
        <label>E-mail</label>
        <input type="text" name="email" class="input-xlarge" data-trigger="change" data-required="true"  data-type="email">
        <label>Password</label>
        <input id="password" type="password" name="password" class="input-xlarge" data-trigger="change" data-required="true">
		<label>Repeat Password</label>
        <input type="password" name="passwordRe" class="input-xlarge" data-trigger="change" data-required="true" data-equalto="#password">
        </br>
        </br>
		<div>
			<a class="btn btn-primary" href='{{path('tahrir_blog_homepage')}}' >Home</a>
            <button class="btn btn-primary pull-right" type="submit" >Create Account</button>		
        </div>

    </form>
	
</div>
 {%endblock%}