{%extends "TahrirBlogBundle:Default:index.html.twig"%}
{%block stylesheets %}

{%endblock%}
   {%block container %}
<div class="container">
    <h2>Hello {{name}}</h2>
 
</div> 
 <a href="{{path('tahrir_blog_logout')}}" >Logout</a>
    {%endblock%}